@font-face {
    font-family: 'Dancing Script';
    src: url('../fonts/dancingscript/DancingScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/opens-sans/OpenSans-Light.ttf) format('truetype');
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/opens-sans/OpenSans-Regular.ttf) format('truetype');
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/opens-sans/OpenSans-Semibold.ttf) format('truetype');
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/opens-sans/OpenSans-Bold.ttf) format('truetype');
}
